################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/team_charge/v17/.suo
/.vs
/Second_test/__pycache__
